Welcome to Python (in Jupyter Notebook)!

### Entering Code
Before we load the data, let's talk a little more about how Python is and isn't like the Excel formula editor (the place you've been doing your coding in excel).  
Just like in Excel, you can enter code or formula into each cell of this jupyter notebook. **You press "Run" or shift+enter to see the result**

In [7]:
"hello class"

'hello class'

In [8]:
(1+4)*3

15

In [9]:
"hello" + " " + "class"

'hello class'

### Assigning Variables
In Excel, when you type a formula, it is already assigned to a cell.  
For example, here I am putting the formula **CONCAT("hello", " peter")** into cell A1
![myimg](https://lh3.googleusercontent.com/pw/AM-JKLU0EqN3Bq2PbCB6wvNNVfAZyeFVAAtppHkeNm7Z8xzTYkRr2c2KTLUuZ9GoTo8p4aqd3C61cEZDBCzwW5bA3mRIsRvWm_G99no_rY7nvQRqNNY-mNuZi1A0URWLsuSz7IE0jU9LFjXZ2tGgpW_LIyrP=w1911-h552-no?authuser=0)

In Python, the same code would look like this (in Python you can use + instead of CONCAT):

In [11]:
A1 = "hello" + " peter"

In [12]:
A1

'hello peter'

In [17]:
result = (45*710)**.5

In [18]:
result

178.74562931719478

The biggest difference here is that we can't see what all of our assigned variables are in a clean spreadsheet layout like in Excel. We assign values to variables rather than positioning them in a spreadsheet.

### Functions
Functions actually work pretty similar in Excel functions and in Python. One of the biggest differences is that it's a lot easier to write custom functions in Python, but we won't be getting into that. Consider the code in Excel for adding up a list of number, in this case 1, 2, 3, 4. SUM(A1:A4)  
![myimg](https://lh3.googleusercontent.com/7hbtm17d8pSLLcm31cIp9G0HYofgQVZyi29EgcPB6cifs8HmAn9v1T_CkiKK9GVHlbFsmdDMsXWAoprXl7rjvJ-vmK_zFTKkV1mbZMX_HmxczE_Qj4Jafl1a2JAbTEWifn30izSQSWfnEn_l4aPkVJ2gA6n0GT59PLT0H-4Nh43LPpat__HEE-X2MKpGQ278C7tS0NDSH-arI8fR28VdWNM60JeVCnvfJY3Fs9M3koF-am57HsyyAYwbklMlC4g3J14aN4pP0jwFGm5QI32vi9Gli9P70lqkxI0QFKpnUmcUz6exgbHvWTm-DhEIh-WkrR96qugk4Emgy8VXa8SAzdJeR04mu0tXi8ZMQ1MYConqclD94D0nBgHcetxp_9fbDvnMkKtYsJafWGiEe7-Hxl7bdNAZEhuUE-vZ6O7ataEQLyGoZ8rxNXzm9Ofk4EcV3uwuO7LYqNlYaDTLt1tYkCIwVR_Y8p7UMKGHDUUZXnCruvCjU37EweI0sgTMBIyIXY11qOqvfBvFUMgbTDbuR6tV2RHqQm_4Wj7cXKg-COnaS8sk8xqcYOANI_Jrf27zQUKXlURnrYdIuHqzdpHzEpxwKYVflsbB01Yq0IAa3fB7Re2dXQ96ki3HUc_v2WSIjGD3xK7rBzfgnMjnKmgHRqehnye3sJayzv3fMvGmumCKnlkLjeHPtyVuXUVayGsdKsDMwFjqf03ANEz0iILE6_k=w1887-h708-no?authuser=1)

The process in Python is very similar

In [22]:
A = [1, 2, 3, 4]
B1 = sum(A)
B1

10

### Data Analysis
OK, congrats you now get the basics of what Python is. There are a lot of important topics we are going to gloss over now - interation, logical operators (AND, OR, IF), defining custom functions, etc. However, I want us to get into using Python for actual tasks as quickly as possible, so we are going to leverage what's built into the Pandas library now, because that's what you would actually be doing most of the time if you were using Python for work.

The following code will load the Pandas library and make it so that we can reference Pandas by just typing in pd (it's like a nickname)  
I also include a tiny bit of code that Pandas won't use scientific notation. This is personal preference (I never now what scientific notation means)

In [42]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)

We assigned the result of pd.read_csv(), which can read in a csv file, to a variable called df (short for data frame), which weâ€™ll use to refer to our data

In [35]:
df = pd.read_csv("Week_10_Workbook_FINAL_2021.csv")

When we type in df, we can see our table

In [36]:
df

,Country Code,Country Name,Region ID,Region Name,Income Group Acronym,Income Group Name,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
0,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,1999,19000,27957
1,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2000,50000,72090
2,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2004,1000,1330
3,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2005,29270,37766
4,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2006,1000,1250
...,...,...,...,...,...,...,...,...,...,...,...
21591,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,3,Disbursements,2017,226474886,236243092
21592,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,3,Disbursements,2018,227007896,231411384
21593,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,3,Disbursements,2019,259153975,259153975
21594,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,3,Disbursements,2020,235788780,231224298
21595,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,3,Disbursements,2021,186140320,178963321

### Getting Descriptive Stats
In Excel, I would use analysis toolpak and get the descriptive stats like this:
![stats](https://lh3.googleusercontent.com/g3vvGL_nApxwPcISnn5pIpdKxdhfgabOeT1DERcxhUaP_xSDcqy0jgZQzIuXbFbMJoEzLDin1ZDOeNwrV0xZwcymEjbvycSCp2EzCfH5-yeoPoqcjBOYs7wuxjqJoWy1BefN88C1I3RAB1sojjc3glWyaRecdvePV2qlUcTjyZ_Yae0bg1WVAqBthMG8B7JvgPP0bH_yuwvrk5iGEFTrqzMLawk9-tuLir8fnL0XT6jLSXY1XSozWfeDqpzDXbiy0r1Fcgv_RBjQ1YqiOTtRACjalN5XRDvkzAYalV7FgBlWgjyU1LqwKr3peJFOuzZH9Ve4d7cffu68ph7ERGnMS5UAqXQJ6lUuH2CbWsJCwdPHgPpwExipx41D7JrGWJXcEzhyYsK3GUzrvf7JJUdyyG8ZVcpJRuGzIugkxdePxpplu3f5O7AMwcvZmbxGkFVWYlU2wJspqWEouQolKIMfwOC9D2ynyQ0iIakwr8tBf_W4SSQqXkmoe-4FcflO67v__NGMZQHxvu76CuWNtAPYyGIUlLKTMxeiQqKwEvhunSLuPwm2d-SuajUiTBCicHVfFyiyM_WAIwAjeZIEqvDXNQzkwbkJ4SOybL9VRuh_BT9ndWAxUnaccIeHQdOrKrv44yLaYPMKJDNaOZPYPtGv9B5doYVNr2uBuz-56oVRB4f57oFmHpj03zeLMQnTObPlu1-VpnLHEhQoINSd22KNjt8=w3840-h1355-no?authuser=1)

In Pandas, we reference specific columns like this:

In [39]:
df["constant_amount"]

0            27957
1            72090
2             1330
3            37766
4             1250
           ...
21591    236243092
21592    231411384
21593    259153975
21594    231224298
21595    178963321
Name: constant_amount, Length: 21596, dtype: int64

and we can apply functions to columns using the following notation:

In [40]:
df["constant_amount"].describe()

count         21596.00
mean      253192917.24
std      1198659635.29
min      -444104019.00
25%         2924260.00
50%        26205987.50
75%       113987205.75
max     36454893874.00
Name: constant_amount, dtype: float64

Note that describe() is the Pandas function for getting descriptive statistics